<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.grocerymanager.bore</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>-c</string>
        <string>brew services start postgresql@15 && sleep 5 && /Users/shivarajchallapalli/codebase/GroceryManager/setup.sh --bore</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardErrorPath</key>
    <string>/Users/shivarajchallapalli/codebase/GroceryManager/bore-error.log</string>
    <key>StandardOutPath</key>
    <string>/Users/shivarajchallapalli/codebase/GroceryManager/bore-output.log</string>
    <key>WorkingDirectory</key>
    <string>/Users/shivarajchallapalli/codebase/GroceryManager</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/Users/shivarajchallapalli/.cargo/bin:/opt/homebrew/bin</string>
    </dict>
</dict>
</plist> 